<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <h1>Document API</h1>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li>
                <a href="/explorer"><span class="title">Index</span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="javascript:;"><span class="title">BookMe</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i data-feather="home"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="/explorer/bookme">Index</a>
                        <span class="icon-thumbnail">I</span>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="/explorer/bookme/auth">User</a>-->
                        <!--<span class="icon-thumbnail">U</span>-->
                    <!--</li>-->
                    <li class="">
                        <a href="/explorer/bookme/profile">Profile</a>
                        <span class="icon-thumbnail">Pr</span>
                    </li>
                    <li class="">
                        <a href="/explorer/bookme/professional">Professional</a>
                        <span class="icon-thumbnail">Po</span>
                    </li>
                    <li class="">
                        <a href="/explorer/bookme/calendar">Calendar</a>
                        <span class="icon-thumbnail">C</span>
                    </li>
                    <li class="">
                        <a href="/explorer/bookme/home">Home</a>
                        <span class="icon-thumbnail">H</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>