<% layout('layout/layout') %>
<% include ../../layout/partials/nav %>
<div class="page-container">
    <!-- START HEADER -->
    <% include ../partials/header.ejs %>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
            <!-- START CONTAINER FLUID -->
            <div class=" container-fluid   container-fixed-lg">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom: -45px">
                        <!-- START card -->
                        <div class="card card-transparent" id="1">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table" id="detailedTable">
                                        <tbody>
                                        <tr id="click_1">
                                            <td class="v-align-middle " style="background: green;width: 15%;">
                                                <p align="center" style="color:white">GET</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 50%;">
                                                <p>http://bookme.bluweo.com:3023/api/home</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 35%;">
                                                <p>Get All Home Data</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody id="table-detail-1" style="display: none">
                                        <tr>
                                            <td class="v-align-middle ">
                                                <p>Parameter</p>
                                            </td>
                                            <td class="v-align-middle ">
                                            </td>
                                            <td class="v-align-middle ">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-block" style="background: white;display: none" id="body-detail-1">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Body</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json1" style="color:white"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                    <div class="col-lg-12" style="margin-bottom: -45px">
                        <!-- START card -->
                        <div class="card card-transparent" id="2">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table" id="detailedTable">
                                        <tbody>
                                        <tr id="click_2">
                                            <td class="v-align-middle " style="background: green;width: 15%;">
                                                <p align="center" style="color:white">GET</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 50%;">
                                                <p>http://bookme.bluweo.com:3023/api/home/:id</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 35%;">
                                                <p>Get Single Home Data</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody id="table-detail-2" style="display: none">
                                        <tr>
                                            <td class="v-align-middle ">
                                                <p>Parameter</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p>:id</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p>:id = _id of profile model</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-block" style="background: white;display: none" id="body-detail-2">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Body</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json2" style="color:white"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                    <div class="col-lg-12" style="margin-bottom: -45px;">
                        <!-- START card -->
                        <div class="card card-transparent" id="3">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table" id="detailedTable">
                                        <tbody>
                                        <tr id="click_3">
                                            <td class="v-align-middle " style="background: blueviolet;width: 15%">
                                                <p align="center" style="color:white">POST</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 50%">
                                                <p>http://bookme.bluweo.com:3023/api/home/:id</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 35%">
                                                <p>Create Home Data</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody id="table-detail-3" style="display: none">
                                        <tr>
                                            <td class="v-align-middle ">
                                                <p align="center">Parameter</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id = _id of profile model</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-block" style="background: white;display: none" id="body-detail-3">
                                    <div class="row">
                                        <div class="col-xs-12">Body<br/><br/><br/><br/></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Input</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json6" style="color:white"></pre>
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Output</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json3" style="color:white"></pre>
                                        </div>
                                        <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                    <div class="col-lg-12" style="margin-bottom: -45px;">
                        <!-- START card -->
                        <div class="card card-transparent" id="4">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table" id="detailedTable">
                                        <tbody>
                                        <tr id="click_4">
                                            <td class="v-align-middle " style="background: darkorange;width: 15%">
                                                <p align="center" style="color:white">PUT</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 50%">
                                                <p>http://bookme.bluweo.com:3023/api/home/:id</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 35%">
                                                <p>Update Home Data</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody id="table-detail-4" style="display: none">
                                        <tr>
                                            <td class="v-align-middle ">
                                                <p align="center">Parameter</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id = _id of profile model</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-block" style="background: white;display: none" id="body-detail-4">
                                    <div class="row">
                                        <div class="col-xs-12">Body<br/><br/><br/><br/></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Input</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json7" style="color:white"></pre>
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Output</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json4" style="color:white"></pre>
                                        </div>
                                        <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                    <div class="col-lg-12" style="margin-bottom: -45px;">
                        <!-- START card -->
                        <div class="card card-transparent" id="5">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table" id="detailedTable">
                                        <tbody>
                                        <tr id="click_4">
                                            <td class="v-align-middle " style="background: red;width: 15%">
                                                <p align="center" style="color:white">DEL</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 50%">
                                                <p>http://bookme.bluweo.com:3023/api/home/:id</p>
                                            </td>
                                            <td class="v-align-middle " style="width: 35%">
                                                <p>DELETE a Home Data</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody id="table-detail-5" style="display: none">
                                        <tr>
                                            <td class="v-align-middle ">
                                                <p align="center">Parameter</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id</p>
                                            </td>
                                            <td class="v-align-middle ">
                                                <p align="center">:id = _id of profile model</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-block" style="background: white;display: none" id="body-detail-5">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Body</div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background: black">
                                            <pre id="json5" style="color:white"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END card -->
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
    </div>
</div>
<script>
    objJson1 = {
        "err": null,
        "response": true,
        "data": [
            {
                "subCat": [
                    "Fashion",
                    "Food",
                    "Products",
                    "Wedding",
                    "Others"
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a113f83c45732a260c28",
                "catName": "Photographer"
            },
            {
                "subCat": [
                    "Fashion",
                    "Wedding",
                    "Night Events",
                    "Others"
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a162f83c45732a260c29",
                "catName": "Makeup Artist"
            },
            {
                "subCat": [
                    "Fashion",
                    "Products"
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a191f83c45732a260c2a",
                "catName": "Model"
            },
            {
                "subCat": [
                    ""
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a215f83c45732a260c2b",
                "catName": "Tutor",
                "subCat": [
                    "Math",
                    "Physics",
                    "Biography",
                    "Thai",
                    "English",
                    "Others"
                ]
            },
            {
                "subCat": [
                    ""
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a23ff83c45732a260c2c",
                "catName": "Local Assistant",
                "subCat": [
                    "Tourist",
                    "Personal Helper",
                    "Others"
                ]
            }
        ]
    }

    objJson2 = {
        "err": null,
        "response": true,
        "data": [
            {
                "subCat": [
                    "Fashion",
                    "Food",
                    "Products",
                    "Wedding",
                    "Others"
                ],
                "projects": "",
                "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                "_id": "5ab8a113f83c45732a260c28",
                "catName": "Photographer"
            }
        ]
    }

    objJson3 = {
        err: "null",
        response: "true",
        data: {
            "err": null,
            "response": true,
            "data": [
                {
                    "subCat": [
                        "Fashion",
                        "Food",
                        "Products",
                        "Wedding",
                        "Others"
                    ],
                    "projects": "",
                    "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
                    "_id": "5ab8a113f83c45732a260c28",
                    "catName": "Photographer"
                }
            ]
        }
    }

    objJson4 = {
        err: "null",
        response: "true",
        data: "Update Home Complete"
    }

    objJson5 = {
        err: "null",
        response: "true",
        data: "Delete Home Complete"
    }

    objJson6 = {
        "subCat": [
            "Fashion",
            "Food",
            "Products",
            "Wedding",
            "Others"
        ],
        "projects": "",
        "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
        "_id": "5ab8a113f83c45732a260c28",
        "catName": "Photographer"
    }

    objJson7 = {
        "subCat": [
            "Fashion",
            "Food",
            "Products",
            "Wedding",
            "Others"
        ],
        "projects": "",
        "catUrl": "https://uploads.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png",
        "_id": "5ab8a113f83c45732a260c28",
        "catName": "Photographer"
    }

    $('.card').on('click', function (event) {
        let card_id = $(this).attr('id');
        $('#table-detail-' + card_id).toggle();
        $('#body-detail-' + card_id).toggle();
    })

    printJson(objJson1, 1);
    printJson(objJson2, 2);
    printJson(objJson3, 3);
    printJson(objJson4, 4);
    printJson(objJson5, 5);
    printJson(objJson6, 6);
    printJson(objJson7, 7);

    // fetch('http://bookme.bluweo.com:3023/api/professional/5abe3b76e476f963645d44fd')
    //     .then(res => res.json())
    //     .then(function (res) {
    //         printJson(res, 2);
    //     })
    //
    // $("#click2").click(function () {
    //     $("#json2").toggle("slow");
    // });

    function printJson(objJson, num) {
        document.getElementById("json" + num).innerHTML = JSON.stringify(objJson, undefined, 2)
    }


</script>

