<% layout('layout/layout') %>
<% include ../../layout/partials/nav %>
<div class="page-container">
    <!-- START HEADER -->
    <% include ../partials/header.ejs %>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
            <!-- START CONTAINER FLUID -->
            <div class=" container-fluid   container-fixed-lg">
                <div class="row">
                    <!-- START card -->
                    <div class="card card-transparent">
                        <div class="m-0 row card-block">
                            <div class="col-lg-12 sm-no-padding">
                                <!-- Start Card 1-->
                                <div class="card card-transparent">
                                    <div class="card-block no-padding">
                                        <div class="card card-default">
                                            <div class="card-header" style="border: 2px solid #f5f6f7">
                                                <h3>
                                                    <span class="semi-bold">Database Model Structure</span>
                                                </h3>
                                            </div>
                                            <div class="card" style="border: none">
                                                <table class="table table-hover demo-table-dynamic table-responsive-block"
                                                       id="tableWithDynamicRows">
                                                    <tbody>

                                                    <!-- Start Model 1 -->
                                                    <tr>
                                                        <div class="container">
                                                            <!-- Model 1 Start-->
                                                            <div class="card-block">
                                                                <div class="row" style="background-color: #f5f5f5;">
                                                                    <div class="col-lg-2"><h5>profiles</h5></div>
                                                                    <div class="col-lg-10"><h5>This is model about
                                                                            information of user.</h5></div>
                                                                    <hr/>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12"><br>Structure</div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="container">
                                                                <div class="row" align="center"
                                                                     style="background-color: #0e90d2; color: #fff">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Name
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Value Default
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Type
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Description
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Example
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        _id
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: green">
                                                                        Auto Generate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is id generate by mongo.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        7oHIxmarNddYS8ZclAdE2sBRgnf2
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        fId
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: red">
                                                                        Required
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is firebase Id.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5adb0eee7c382e04c37904cf
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        title
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        title
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is tittle of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        title
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        firstname
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        firstname
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is firstname of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Naphat
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        lastname
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        lastname
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is lastname of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Sottiyaphai
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        birthdate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        birthdate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is birthdate of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        1994-04-21T10:08:03.000Z
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        profilephoto
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        profilephoto
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is profilephoto of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        https://media.blueweo.com/uploads
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        backgroundphoto
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        background photo
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is background photo of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        https://media.blueweo.com/uploads
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        address
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        address
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is address of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        address
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        city
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        city
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is city of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        city
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        country
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        country
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is country of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        country
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        mobile
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        mobile
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is mobile of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        mobile
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        email
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        email
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is email of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        email@gmail.com
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        idcard
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        idcard
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is idcard of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        1031100255258
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        favorite
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        favorite
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Array
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is favorite of user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        [ "favorite" ]
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Model 1 End-->
                                                        </div>
                                                    </tr>
                                                    <!-- End Model 1-->

                                                    <!-- Start Model 2 -->
                                                    <tr>
                                                        <div class="container">
                                                            <!-- Model 1 Start-->
                                                            <div class="card-block">
                                                                <div class="row" style="background-color: #f5f5f5;">
                                                                    <div class="col-lg-2"><h5>professionals</h5></div>
                                                                    <div class="col-lg-10"><h5>This is model about
                                                                            job information of user.</h5></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12"><br>Structure</div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="container">
                                                                <div class="row" align="center"
                                                                     style="background-color: #0e90d2; color: #fff">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Name
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Value Default
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Type
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Description
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Example
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        _id
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: green">
                                                                        Auto Generate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is id generate by mongo.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5ad5944f71e69a7918b0e00d
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        uId
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: red">
                                                                        Required
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is Id of model user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5ad579b471e69a7918b0e00c
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        createDate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        date.now()
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Date
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is create date of professional model
                                                                        collections.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        2018-04-16T17:44:49.448Z
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        information
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        data of model profile
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Object
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is information of professional's user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json1"></pre>
                                                                        <script>
                                                                            objJson1 = {
                                                                                tittle: "title",
                                                                                firstname: "Naphat",
                                                                                lastname: "Sottiyaphai",
                                                                                birthdate: "2018-03-29T18:10:56.000Z",
                                                                                profilephoto: "https://lookaside.facebook.com/platform/profilepic/?asid=1824253210936569&height=200&width=200&ext=1522606251&hash=AeRwiajsBvCmh9DL",
                                                                                backgroundphoto: "backgroundphoto",
                                                                                address: "address",
                                                                                city: "city",
                                                                                country: "country",
                                                                                mobile: "mobile",
                                                                                email: "n.sottiyaphai@gmail.com",
                                                                                idcard: "idcard",
                                                                                favorite: [
                                                                                    "favorite"
                                                                                ],
                                                                                _id: "5abd2c308e7b64515b8e495d",
                                                                                title: "title"
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        portfolio
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        {""}
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Object
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is package of professional's user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json2"></pre>
                                                                        <script>
                                                                            objJson2 = {
                                                                                about: "I can guide you around bangkok",
                                                                                calendar: [],
                                                                                instagram: "",
                                                                                conditions: [
                                                                                    "Woman only bbkmbbbjkkmmbvdvnkkkjbgfddhjjkjjnbbvvvcdddfvhhhhh",
                                                                                    "No food"
                                                                                ],
                                                                                Gallery: [
                                                                                    "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_d455dc54e6ce9cd9dfa594e1c183c8a2.jpg",
                                                                                    "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_26b570785f23f6690642124c19056516.jpg",
                                                                                    "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_53926e00bedd28045b66b978480b7f0e.jpg",
                                                                                    "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_a7499a89e418a4ab3abd5ad08c99831c.jpg",
                                                                                    "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_f5a80eebffe8e11be8a11d52c1cb66fe.jpg"
                                                                                ]
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        project
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        {""}
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Array
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is project of professional's user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json3"></pre>
                                                                        <script>
                                                                            objJson3 = [
                                                                                {
                                                                                    projectDetail: "writer",
                                                                                    projectImage: [
                                                                                        "http://media.bluweo.com:3022/uploads/5ad579b471e69a7918b0e00c/bookme_5b0a384eedb2499d77987943976d1166.jpg"
                                                                                    ],
                                                                                    projectName: "anywhere magazine",
                                                                                    dateTime: "Apr 2559"
                                                                                }
                                                                            ]
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        package
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        {""}
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Array
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is package of professional's user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json4"></pre>
                                                                        <script>
                                                                            objJson4 = [
                                                                                {
                                                                                    packageName: "half day tour",
                                                                                    packagePrice: "2500",
                                                                                    packageHours: "4"
                                                                                }
                                                                            ]
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tr>
                                                    <!-- End Model 2-->

                                                    <!-- Start Model 3 -->
                                                    <tr>
                                                        <div class="container">
                                                            <!-- Model 1 Start-->
                                                            <div class="card-block">
                                                                <div class="row" style="background-color: #f5f5f5;">
                                                                    <div class="col-lg-2"><h5>Calendar</h5></div>
                                                                    <div class="col-lg-10"><h5>This is model about
                                                                            calendar of job's user.</h5></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12"><br>Structure</div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="container">
                                                                <div class="row" align="center"
                                                                     style="background-color: #0e90d2; color: #fff">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Name
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Value Default
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Type
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Description
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Example
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        _id
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: green">
                                                                        Auto Generate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is id generate by mongo.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5ad5944f71e69a7918b0e00d
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        uId
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: red">
                                                                        Required
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is Id of model user.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5ad579b471e69a7918b0e00c
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        date
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        [""]
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Arrays of Date
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is date of professional model
                                                                        collections.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json5"></pre>
                                                                        <script>
                                                                            objJson5 = [
                                                                                "11/12/2017",
                                                                                "15/12/2017",
                                                                                "19/12/2017"
                                                                            ]
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tr>
                                                    <!-- End Model 3-->

                                                    <!-- Start Model 4 -->
                                                    <tr>
                                                        <div class="container">
                                                            <!-- Model 1 Start-->
                                                            <div class="card-block">
                                                                <div class="row" style="background-color: #f5f5f5;">
                                                                    <div class="col-lg-2"><h5>Home</h5></div>
                                                                    <div class="col-lg-10"><h5>This is model about
                                                                            Data on Application.</h5></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12"><br>Structure</div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="container">
                                                                <div class="row" align="center"
                                                                     style="background-color: #0e90d2; color: #fff">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Name
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Value Default
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Key Type
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Description
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Example
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        _id
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: green">
                                                                        Auto Generate
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is id generate by mongo.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        5ad5944f71e69a7918b0e00d
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        catUrl
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: red">
                                                                        Required
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        ""
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Tags_font_awesome.svg/2000px-Tags_font_awesome.svg.png
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        catName
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;color: red">
                                                                        Required
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        String
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        ""
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Local Assistant
                                                                    </div>
                                                                </div>
                                                                <div class="row" align="center">
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        subCat
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        [""]
                                                                    </div>
                                                                    <div class="col-lg-2"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        Arrays of Sub Categories
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        This is Subcategory name.
                                                                    </div>
                                                                    <div class="col-lg-3"
                                                                         style="border: 1px solid #f3f3f3;padding: 15px;">
                                                                        <pre align="left" id="json6"></pre>
                                                                        <script>
                                                                            objJson6 = [
                                                                                "Tourist",
                                                                                "Personal Helper",
                                                                                "Others"
                                                                            ]
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </tr>
                                                    <!-- End Model 4-->

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card 1 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END card -->
        </div>
    </div>
    <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
</div>
</div>
<script>
    $('tr').on('click', function (event) {
        let card_id = $(this).attr('id');
        $('#table-detail-' + card_id).toggle();
        $('#body-detail-' + card_id).toggle();
    })

    printJson(objJson1, 1);
    printJson(objJson2, 2);
    printJson(objJson3, 3);
    printJson(objJson4, 4);
    printJson(objJson5, 5);
    printJson(objJson6, 6);
    printJson(objJson7, 7);
    printJson(objJson8, 8);

    function printJson(objJson, num) {
        document.getElementById("json" + num).innerHTML = JSON.stringify(objJson, undefined, 2)
    }

</script>