<% layout('layout/layout') %>
<% include ../layout/partials/nav %>
<div class="page-container">
    <!-- START HEADER -->
    <% include ../layout/partials/header.ejs %>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
            <br><br><br>
            <div class=" container container-fixed-lg">
                <!-- START CONTAINER FLUID -->
                <div class="card card-transparent">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-default">
                                    <div class="card-header  separator">
                                        <div class="card-title">
                                            <h5 class="text-primary pull-left fs-12">Hello, This is API Document <i
                                                        class="fa fa-circle text-complete fs-11"></i></h5>
                                            <div class="pull-right small hint-text">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="basicTable">
                                                <tbody>
                                                <tr>
                                                    <td class="v-align-middle ">
                                                        <p>Book Me</p>
                                                    </td>
                                                    <td class="v-align-middle ">
                                                        <p>Application for find people who is professional or register
                                                            to professional
                                                            profile.</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->
            <!-- START card -->
        </div>
        <!-- END CONTAINER FLUID -->
    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->

<script>
    fetch('http://media.bluweo.com:3022/api/uploads/bluweo',{
        method: 'POST',
        headers: {
            "Content-Type":"application/json",
            "appId": "5b35aa69ee047418cbf69855",
            "clientId": "d1ee4a740a73df6f294efd00ea64a089",
            "secretId": "49b3352e42a3ed823c20bd4a5f31b4b3"
        },
        body: JSON.stringify({
            file: imgFiles
        })
    })
</script>